<h1 class="mt-5 mb-5 text-center text-info">Employee Information</h1>
<p>
    <a class="btn btn-dark btn-lg mb-5" href="/employee/new">Add New Employee</a>
</p>
{{#each employees}}

<div class="card border-info mb-3" style="width: 30rem;">

    <a class=" card-header bg-info btn btn-outline-info text-white btn-lg" href="/employee/{{_id}}">{{name}}</a>

    <div class="card-body text-info">

        <p>Title: {{title}}</p>
        <p>Contact</p>
        <ul class="list-group mb-3" style="width: 18rem;">
            <li class="list-group-item">Email: {{contact.email}}</li>
            <li class="list-group-item">Phone: {{contact.phone}}</li>
            <li class="list-group-item">GitHub {{contact.github}}</li>
        </ul>
        <p>Department: {{department}}</p>
        <p>Location: {{location}}</p>
        <p>Specialty: {{specialty}}</p>
        <p>Skills: {{skills}}</p>

    </div>
</div>

{{/each}}